<div class="container">
    <div class="row">
        <div class="footerspacer col-sm-12"></div>
    </div>
</div>

<div id="footer">
    <div class="container text-center">
        <p id="footbar">
            <a class="text-muted" href="http://www.metahistory.org/" title="Beyond the tyranny of beliefs">metahistory.org</a>
            &middot;
            <a class="text-muted" href="http://gaiaspora.org/" title="Navigating Sophia's dreaming">gaiaspora.org</a>
                <br>
            Copyright John Lash 2012&ndash;{{ site.time | date: "%Y" }}
        </p>
    </div>
</div>
