<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Gaiaspora Logs</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="http://gaiaspora.org/logs/">Contact</a>
                </li>
                <li>
                    <a href="https://docs.google.com/document/d/1OZuMhNKojKY_yDXJLeJSppytN1c-_PNGagSlbzobLFA">Help</a>
                </li>
                <li>
                    <button type="button" class="btn navbar-btn btn-success" onclick="window.open('https://github.com/gaiaspora/gaiaspora.github.io/edit/master/_data/nb.yaml');">Edit</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
