<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include html/default-metadata.html %}
        <link rel="stylesheet" href="/assets/css/style.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="/assets/javascript/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="/assets/javascript/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        {% include html/navbar.html %}

        {{ content }}

        {% include html/footbar.html %}

        <script src="/assets/javascript/jquery-1.11.3.min.js"></script>
        <script src="/assets/javascript/bootstrap.min.js"></script>
        {% include javascript/custom.html %}
    </body>
</html>
